/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

/* Reset CSS */
* {
  font-family: 'Montserrat', sans-serif;
}

/* Plain CSS로 scroll smooth하게 만들기 */
html {
  /* scroll-behavior는 IE에서 적용되지 않는다. */
  /* scroll-behavior: smooth; */
}

body {
  font-size: 15px;
  margin: 0;
  color: #222;
  line-height: 1.5em;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  /* font-weight: 500;은 bold보다 연하고 normal보다 진하다 */
  font-weight: 500;
  line-height: 1.3em;
}

ul {
  list-style: none;
  margin:0;
  padding: 0;
}

input,
button,
textarea {
  outline: none;
}
button {
  cursor: pointer;
}

/* Common CSS */
.inner {
  width: 1300px;
  margin: auto;
}

/* .container 전체 wrapper */
.container {
}

/* Header */
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: 0.5s;
}
.banner {
  background-color: #000;
  height: 40px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.lnb {
  width: 1300px;
  margin: auto;
  text-align: end;
}
.lnb a {
  margin-right: 10px;
  color: #ddd;
}
.lnb a:last-child {
  margin: 0;
}
.lnb a em {
  color: #bbb;
  margin-right: 5px;
}

/* header with actice class */
header.active {
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

header.active .banner {
  /* display: none; */
  /* display none은 transition을 줄 수 없다. */
  height: 0;
  overflow: hidden;
}

header.active nav {
  padding-bottom: 20px;
}

/* navigation hover 시 underline animation */
header.active .gnb a {
  position: relative;
  color: #000;
}

header.active .gnb a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  transition: 0.3s;
}

header.active .gnb a:hover:after {
  width: 100%;
}

/* nav Navigation */
nav {
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.logo {
}
.logo img {
}
.gnb {
  display: flex;
}

.gnb a {
  margin-right: 20px;
  color: #fff;
  transition: 0.5s;
}
.gnb a:hover {
  color: #333;
}
.gnb a:last-child {
  margin: 0;
}

/* Go to Top */
.goToTop {
  /* a tag는 크기 값을 가질 수 없지만,
     position: fixed;하는 순간에 inline-block으로 바뀌면서 크기 값을 가질 수 있다.
  */
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 50px;
  bottom: -50px;
  font-size: 32px;
  text-align: center;
  line-height: 50px;
  background: rgba(38, 137, 208, 0.5);
  color: #fff;
  opacity: 0;
  transition: 0.3s;
}

.goToTop.active {
  opacity: 1;
  bottom: 50px;
}

/* Main .intro */
.intro {
  height: 100vh;
  background: url(assets/images/intro.jpg) no-repeat center center;
  background-size: cover;

  display: flex;
  align-items: center;
}
.heading {
  color: #fff;
  text-align: center;
}
.heading h1 {
  font-size: 70px;
  margin-bottom: 40px;
}
.heading-text {
  font-size: 22px;
  line-height: 1.5em;
  padding: 0 150px;
}

/* About Section */
.about-content {
  display: flex;
  padding: 150px 0;
}

.about-content div {
  padding: 30px;
}
.desc {
  text-align: center;
  flex: 3;
}
.desc h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
.desc p {
  font-size: 16px;
  line-height: 1.7em;
}
.desc a {
  color: crimson;
  padding: 7px;
  /* width: fit-content; */

  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desc a:hover {
  background: rgba(0, 0, 0, 0.2);
  padding: 7px;
  box-sizing: border-box;
  border-radius: 5px;
  color: #222;
}
.image {
  flex: 2;
}
.image img {
  width: 100%;
  display: block;

  /* border-radius를 중첩해 사진을 변형할 수 있다. */
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
}

/* Ranking Section  */
.ranking {
  background: #f8f8f8;
}
.ranking-content {
  padding: 100px 0;
}
.ranking-content h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}
.items {
  display: flex;
  justify-content: space-between;
}
.item {
  width: 390px;
  height: 600px;
  border-radius: 30px 0 30px 0;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
.item-image {
  width: 390px;
  height: 285px;
}
.item-image img {
  /* width: 100%; */
  height: 100%;
}
.item-desc {
  padding: 25px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.item-desc span {
  margin-top: 30px;
  width: fit-content;

  color: #fff;
  padding: 3px 10px;
  font-size: 16px;
  border-radius: 5px;
}
.badge-red {
  background: crimson;
}
.badge-blue {
  background: #0984e3;
}

.item-desc h3 {
  margin: 15px 0;
  font-size: 22px;
}
.item-desc p {
}
.item-desc a {
  color: crimson;
  font-weight: bold;
}
.item-desc a:hover {
  font-size: 18px;
}
.item-desc a img {
  transition: 0.5s;
}
.item-desc a:hover img {
  transform: translateX(10px);
}

/* Testmonial Section */
.testmonial {
  padding: 100px 0;
}
.testmonial-content {
  text-align: center;
}
.testmonial-content h2 {
  font-weight: 300;
  font-size: 2em;
}
.testmonial-content h2 b {
}
.testmonial-content hr {
  border: none;
  height: 4px;
  width: 120px;
  background: #ddd;
  margin: 20px auto;
  display: inline-block;
}
.myslider {
}
.myslider div {
  outline: none;
}

.client {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client img {
  width: 90px;
  border-radius: 50%;
  margin-right: 15px;
}
.client span {
  /* width:100%; */
  display: block;
  text-align: left;
  font-size: 18px;
  line-height: 1.7em;
}
.client span b {
  display: block;
}
.myslider div p {
  font-size: 16px;
  line-height: 1.6em;
}

/* slick arrow custom */
.testmonial {
  position: relative;
}

.arrow-wrap {
  font-size: 3em;
  cursor: pointer;
}
.arrow_prev {
  position: absolute;
  top: 300px;
  left: 50px;
}
.arrow_next {
  position: absolute;
  top: 300px;
  right: 50px;
}

/* slick slider custom */
.myslider div .slick-center {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.08);
}

/* slick js slick-dots custom */
.slick-slider {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.slick-dots {
  /* display: block; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots button {
  width: 10px;
  height: 10px;
  outline: none;
  border: none;
  margin: 7px;
  /* border-radius: 50%; */
  background: #ddd;
  color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots .slick-active button {
  background: #000;
}

.slick-active {
}

/* CallAction Section */
.callaction {
  height: 450px;
  background: url(assets/images/callaction-01.jpg) no-repeat center center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.callaction:before {
  content: '';
  background: linear-gradient(to right, rgba(160, 8, 160, 0.5), rgba(6, 87, 24, 0.8));
  width: 100%;
  height: 100%;
  position: absolute;
}
.callaction-heading {
  text-align: center;
  position: relative;
}

.callaction-heading h2 {
  color: #fff;
  font-size: 50px;
  line-height: 1.3em;
  margin-bottom: 50px;
  font-weight: 300;
  letter-spacing: -1px;
}

.callaction-heading h2 span {
  font-weight: 500;
}

.callaction-heading a {
  color: #fff;
  background: #079992;
  padding: 15px;
  font-size: 18px;
  border-radius: 6px;
}

.callaction-heading a:hover {
  background: #fff;
  color: #079992;
}

/* Blog Section */
.blog {
  padding: 100px;
}
.blog-content {
}
.blog-content div {
}
.blog-header {
  display: flex;
  flex-direction: column;
}
.blog-header h6,
.recent-items h6,
.shared-items h6 {
  font-size: 16px;
  color: #00a0e9;
}
.blog-header h2 {
  font-size: 48px;
  margin: 50px 0;
}
.blog-header p {
  font-size: 28px;
  line-height: 1.6em;
}

.divider {
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 50px 0;
}
.post-content {
  display: flex;
  justify-content: space-between;
}
.post-content div {
}

.post-content .divider {
  margin: 30px 0;
  border-bottom: 1px solid #eee;
}
.recent-items {
  flex: 2;
}
.recent-items h6 {
  color: #000;
  margin-bottom: 30px;
}
.recent-item {
  display: flex;
}
.recent-item-image {
  /* flex: 2; */
  width: 360px;
  border-radius: 30px 0 30px 0;
  overflow: hidden;
}
.recent-item-image img {
  width: 100%;
  display: block;
}
.recent-item-desc {
  flex: 3;
  padding: 0 20px;
}
.recent-item-desc h3 {
  font-size: 24px;
}
.recent-item-desc p {
  font-size: 18px;
  line-height: 1.6em;
}
.date {
  font-size: 14px;
  color: #6d6d6d;
}

.shared-items {
  /* flex: 1; */
  width: 360px;
}
.shared-items h6 {
  color: #000;
  margin-bottom: 30px;
}

.shared-items .recent-item {
  flex-direction: column;
  margin-bottom: 30px;
}

.shared-items .recent-item-desc {
  padding: 0;
}

.shared-heading {
  margin: 10px 0;
}

/* Festival Section */
.festival {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  background: #333;
}
.festival-heading {
}
.festival-heading h2 {
  color: #fff;
  font-weight: 300;
  font-size: 26px;
}
.festival-heading h2 span {
  font-weight: 500;
}
.button-wrap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.button-wrap a {
  /* a tag에 width를 주려면 inline-block으로 만들어줘야 한다. */
  /* display: inline-block; */

  margin: 10px;
  padding: 6px 30px;
  font-size: 16px;
  border-radius: 6px;
  font-weight: 400;
}
.maxico {
  background: #fac53b;
}
.maxico:hover {
  background: #000;
  color: #fac53b;
}
.barcelona {
  background: #ededed;
}
.barcelona:hover {
  background: #222;
  color: #ededed;
}

/* Footer */
footer {
  background: #000;
  padding: 30px 0;
}

.footer-wrap {
  display: flex;
  text-align: center;
}

.footer-col {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.footer-col h3 {
  color: #d9d9d9;
  font-weight: 500;
}
.footer-col a {
  color: #959595;
  transition: 0.5s;
}
.footer-col a:hover {
  transform: scale(1.1);
}

.copy-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
}
.copy-wrap h3 {
  color: #d9d9d9;
  font-weight: 500;
}
.copy-wrap-desc {
  color: #959595;
}
.copy {
  color: #eee;
  margin-top: 35px;
}
