/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

/* Reset CSS */
* {
  font-family: 'Montserrat', sans-serif;
}

html {
}

body {
  font-size: 15px;
  margin: 0;
  color: #222;
  line-height: 1.5em;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  /* font-weight: 500;은 bold보다 연하고 normal보다 진하다 */
  font-weight: 500;
  line-height: 1.3em;
}

input,
button,
texarea {
  outline: none;
}
button {
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Common CSS */
.inner {
  width: 1300px;
  margin: auto;
}

/* .container 전체 wrapper */
.container {
}

/* Header */
header {
  position: fixed;
  width: 100%;
}
.banner {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  background: #000;
  /* height: 40px; */
  padding: 10px 0;
}
.lnb {
  width: 1300px;
  margin: auto;
  text-align: end;
}
.lnb a {
  margin-right: 10px;
  color: #ddd;
}
.lnb a:last-child {
  margin: 0;
}
.lnb a em {
  color: #bbb;
  margin-right: 5px;
}

/* nav Navigation */
nav {
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.logo {
}
.logo img {
}
.gnb {
}

.gnb a {
  margin-right: 20px;
  color: #fff;
}
.gnb a:hover {
  color: #333;
}
.gnb a:last-child {
  margin: 0;
}

/* Main .intro */
.intro {
  height: 100vh;
  background: url(assets/images/intro.jpg) no-repeat center center;
  background-size: cover;

  display: flex;
  align-items: center;
}
.heading {
  color: #fff;
  text-align: center;
}
.heading h1 {
  font-size: 70px;
  margin-bottom: 40px;
}
.heading-text {
  font-size: 22px;
  line-height: 1.5em;
  padding: 0 150px;
}

/* About Section */
.about-content {
  display: flex;
  padding: 150px 0;
}

.about-content div {
  padding: 30px;
}
.desc {
  text-align: center;
  flex: 3;
}
.desc h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
.desc p {
  font-size: 16px;
  line-height: 1.7em;
}
.desc a {
  color: crimson;
  padding: 7px;
  /* width: fit-content; */

  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desc a:hover {
  background: rgba(0, 0, 0, 0.2);
  padding: 7px;
  box-sizing: border-box;
  border-radius: 5px;
  color: #222;
}
.image {
  flex: 2;
}
.image img {
  width: 100%;
  display: block;

  /* border-radius를 중첩해 사진을 변형할 수 있다. */
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
}

/* Ranking Section  */

/* Testmonial Section */

/* CallAction Section */
.callaction {
  height: 450px;
  background: url(assets/images/callaction-01.jpg) no-repeat center center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.callaction:before {
  content: '';
  background: linear-gradient(to right, rgba(160, 8, 160, 0.5), rgba(6, 87, 24, 0.8));
  width: 100%;
  height: 100%;
  position: absolute;
}
.callaction-heading {
  text-align: center;
  position: relative;
}

.callaction-heading h2 {
  color: #fff;
  font-size: 50px;
  line-height: 1.3em;
  margin-bottom: 50px;
  font-weight: 300;
  letter-spacing: -1px;
}

.callaction-heading h2 span {
  font-weight: 500;
}

.callaction-heading a {
  color: #fff;
  background: #079992;
  padding: 15px;
  font-size: 18px;
  border-radius: 6px;
}

/* Blog Section */

/* Festival Section */
.festival {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  background: #333;
}
.festival-heading {
}
.festival-heading h2 {
  color: #fff;
  font-weight: 300;
  font-size: 26px;
}
.festival-heading h2 span {
  font-weight: 500;
}
.button-wrap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.button-wrap a {
  /* a tag에 width를 주려면 inline-block으로 만들어줘야 한다. */
  /* display: inline-block; */

  margin: 10px;
  padding: 6px 30px;
  font-size: 16px;
  border-radius: 6px;
  font-weight: 400;
}
.maxico {
  background: #fac53b;
}
.barcelona {
  background: #ededed;
}

/* Footer */
footer {
  background: #000;
  padding: 30px 0;
}

.footer-wrap {
  display: flex;
  text-align: center;
}

.footer-col {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.footer-col h3 {
  color: #d9d9d9;
  font-weight: 500;
}
.footer-col a {
  color: #959595;
  transition: 0.5s;
}
.footer-col a:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

.copy-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
}
.copy-wrap h3 {
  color: #d9d9d9;
  font-weight: 500;
}
.copy-wrap-desc {
  color: #959595;
}
.copy {
  color: #eee;
  margin-top: 35px;
}
