/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #222;
  margin: 0;
  font-size: 15px;
  font-weight: 300;
}

/* reset CSS */
a {
  text-direction: none;
  color: #000;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: normal;
}

button {
  cursor: pointer;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
}
