@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
}

.parent {
  border: 5px solid #000;

  display: flex;

  /* justify-content: 속성 종류 */

  justify-content: center;
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */

  /* display: flex; 와 justify-content: center; 하지 않고 중앙 정렬하기 */
  /* text-align: center; */
}

.child {
  background: lightyellow;
  width: 200px;
  text-align: center;
  margin: 1em;

  /* diplay: flex; 사용하지 않고 정렬하기 */
  /* justify-content: center;를 사용하지 않을 때 */
  /* margin: auto; */

  /* justify-content: flex-start;를 사용하지 않을 때 */
  /* float: left; */

  /* justify-content: flex-end;를 사용하지 않을 때 */
  /* float: right; */

  /* display: flex; 와 justify-content: center; 하지 않고 중앙 정렬하기 */
  /* display: inline-block; */
}

.child:nth-child(1) {
  height: 100px;
  line-height: 100px;
}
.child:nth-child(2) {
  height: 200px;
  line-height: 200px;
}
.child:nth-child(3) {
  height: 300px;
  line-height: 300px;
}
